#Card{
    background-color:#fafaf0;
    font-variant:small-caps;
    width:705px;
    height:400px;
    margin:50px auto;
    text-align:center;
    text-shadow: -1px -1px 1px #fafaf0,1px 1px 0px #fafaf0;
    box-shadow: 1px 1px 5px #212c38;
}
#Card h1{
    font-size:5em;
    margin:40px;
    text-align:right;
    float:right;
}
#Card img{
    width:200px;
    margin-top:15px;
    margin-left:25px;
    margin-bottom:15px;
    float:left;
}
#ContactInfo{
    margin-top:25px;
    font-weight: 500;
    font-size:1.5em;
}
#ContactInfo span{
    margin:20px;
}
#PositionTitle{
    font-size:2em;
    font-weight: 500;
}
#Tech{
    font-size:1.5em;
    font-weight: 500;
}
#Links{
    height:20px;
    text-align:center;
}
a{
    color:black;
}
#Links{
    font-size:1.25em;
    border-radius:5px;
    box-shadow:0px 0px 10px 3px #212c38;
    padding:20px;
    width: 660px;
    margin:0 auto;
    background-color:#99aec3;
}
